---

---

<html>
	<main>
		<h1>Sorta Calc</h1>
		<div id="calc-container">
			<input type="text" id="result" />
			<div id="num-pad">
				<!-- Row 1 -->
				<button id="clear-list">CE</button>
				<button id="clear">C</button>
				<button id="backspace">back</button>
				<button id="add">+</button>
				<!-- Row 2 -->
				<button id="one" data-value="1">1</button>
				<button id="two" data-value="2">2</button>
				<button id="three" data-value="3">3</button>
				<button id="subtract">-</button>
				<!-- Row 3 -->
				<button id="four" data-value="4">4</button>
				<button id="five" data-value="5">5</button>
				<button id="six" data-value="6">6</button>
				<button id="multiply">x</button>
				<!-- Row 4 -->
				<button id="seven" data-value="7">7</button>
				<button id="eight" data-value="8">8</button>
				<button id="nine" data-value="9">9</button>
				<button id="divide">/</button>
				<!-- Row 5 -->
				<button id="decimal" data-value=".">.</button>
				<button id="zero" data-value="0">0</button>
				<button id="add-to-list">,</button>
				<button id="equals">=</button>
				<!-- Row 6: Special Functions -->
				<button id="mean">Mean</button>
				<button id="median">Median</button>
				<button id="mode">Mode</button>
				<button id="range">Range</button>
			</div>
		</div>

		<style>
			#num-pad {
				display: grid;
				grid-template-columns: repeat(4, auto);
			}
			#buttons-pad {
				max-width: 50%;
			}
			#result {
				border: 1px solid black;
				width: 50%;
				height: 30px;
			}
		</style>

		<script>
			//Elements from DOM
			const backspace = document.querySelector("#back");
			const one = document.querySelector("#one");
			const two = document.querySelector("#two");
			const three = document.querySelector("#three");
			const four = document.querySelector("#four");
			const five = document.querySelector("#five");
			const six = document.querySelector("#six");
			const seven = document.querySelector("#seven");
			const eight = document.querySelector("#eight");
			const nine = document.querySelector("#nine");
			const zero = document.querySelector("#zero");
			const decimal = document.querySelector("#decimal");
			const addToList = document.querySelector("#add-to-list");
			const equals = document.querySelector("#equals");
			const add = document.querySelector("#add");
			const subtract = document.querySelector("#subtract");
			const multiply = document.querySelector("#multiply");
			const divide = document.querySelector("#divide");
			const result = document.querySelector("#result");

			//Keydown Event Listeners
			result.addEventListener("keydown", (e) => e.stopPropagation());

			document.addEventListener("keydown", (e) => {
				switch (e.key) {
					case "1":
						addToResult("1");
						break;
					case "2":
						addToResult("2");
						break;
					case "3":
						addToResult("3");
						break;
					case "4":
						addToResult("4");
						break;
					case "5":
						addToResult("5");
						break;
					case "6":
						addToResult("6");
						break;
					case "7":
						addToResult("7");
						break;
					case "8":
						addToResult("8");
						break;
					case "9":
						addToResult("9");
						break;
					case "0":
						addToResult("0");
						break;
					case "Backspace":
						backSpace();
						break;
					case "Delete":
						clearResult();
						break;
				}
			});

			document.addEventListener("keydown", (e) => {
				console.log(e);
			});

			//onClick Event Listeners
			const numbers = [
				one,
				two,
				three,
				four,
				five,
				six,
				seven,
				eight,
				nine,
				zero,
			];
			numbers.forEach((number) => {
				number.addEventListener("click", (e) => {
					addToResult(e.target.dataset.value);
				});
			});

			//Input Functions
			function addToResult(val) {
				result.value = result.value + val;
			}

			function backSpace() {
				result.value = result.value.slice(0, result.value.length - 1);
			}

			function clearResult() {
				result.value = " ";
			}

			//Special Function Buttons
			function getMean(inputs) {
				let sum = 0;

				for (const input of inputs) {
					sum += input;
				}

				return sum / inputs.length;
			}

			function getMedian(inputs) {}

			function getMode() {}

			function getRange() {}
		</script>
	</main>


</html>
