---

---

<html>
	<main>
		<h1>Testing</h1>
	</main>


	<script>
		function getMean(inputs) {
			let sum = 0;

			for (const input of inputs) {
				sum += input;
			}

			return sum / inputs.length;
		}

		function getMedian(inputs) {

		}

		function getMode() {

		}

		function getRange() {
			
		}
	</script>
</html>
